.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 10vh;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 2.4rem;
}

.App-body {
  color: black;
  flex-grow: 1;
  font-size: 1.6rem;
  background-color: beige;
}

.App-footer {
  height: 10vh;
  background-color: antiquewhite;
  display: flex;
  align-items: center;
  justify-content: center;
}
.App-link {
  color: #61dafb;
}

.task-input {
  padding: 1.2rem 3.2rem;
  border-radius: 10rem;
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.task-button {
  padding: 1.2rem 3.2rem;
  background-color: aquamarine;
  border: none;
  border-radius: 10rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
